
@keyframes animateSvg {
  to {
    transform: translate(-50%, -10px);
  }
}

@keyframes upanddown {
  to {
    transform: translateY(-5px);
  }
}
@keyframes skills {
  0%{width: 0%;} 100%{ width: attr(width);}
}

